* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 65.5%;
}

:root {
	--menuColor: #4e4e4e;
	--primaryColor: #fd7b72;
	--btnBeforeBg : #fff;
	--menuHoverColor: rgb(252, 52, 52);
}
nav {
	width: 100%;
	height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
	position: relative;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: blue; */
	/* padding: 30px; */
}

nav ul li {
	color: var(--menuColor);
	padding: 20px 20px;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: sans-serif;
}
li.admiBtn{
	line-height: 12vh;
}
li a.adminBtn_link{
	position: absolute;
	right: 5%;
	top:50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 0.7rem;
	background-color: var(--primaryColor);
	color: #ffff;
	overflow: hidden;
	
	

}
li a.adminBtn_link:hover{
	color: #fff !important;
	opacity: 0.7;
}

li a.adminBtn_link::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2rem;
	background-color:var(--btnBeforeBg);
	bottom: 0;
	left: -100%;
	transition: all 0.5s;
	transform: rotate(45deg);
}

li a.adminBtn_link:hover::before{
	left: 100%;
}



nav ul li a {
	color: var(--menuColor);
	text-decoration: none;
	font-weight: 500;
}

nav ul li a:hover {
	color: var(--primaryColor);
	transition: 0.1s;
}

.menuToggle{
	width: 6vw;
	height: 6vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.8rem;
	color: var(--primaryColor);
	display: none;
}
.menubar{
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	transition: all 0.5s;

}

.menubar ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menubar ul li{
	padding: 1rem;
	font-size: 1.2rem;
}

.menubar ul li a{
	text-decoration: none;
	color: var(--menuColor);
}
.menubar ul li a:hover{
	text-decoration: none;
	color: var(--primaryColor);
}



@media screen and (max-width: 700px){
	nav ul{
		display: none;
	}
	.menuToggle{
		display: block;
		margin-top: 2rem;
		
	}

	.menuToggle:hover{
		color: var(--menuHoverColor);
		cursor: pointer;
	}
	.menubar{
		display: none;
		transition: all 0.5s;
		
	}

	.act_toggle{
		display: block;
		justify-content: center;
		transition: all .5s linear;
	}
	.adminBtn_link{
		font-size: 1.2rem;
		text-decoration: none;
		border: none;
		outline: none;
		padding: .6rem;
		border-radius: .7rem;
		background-color: var(--primaryColor);
		color: #fff;
		position: relative;
		overflow: hidden;

	}
	.adminBtn_link::before{
		content: "";
		width: 100%;
		height: 2rem;
		background-color: #fff;
		position: absolute;
		left: -100%;
		transform: rotate(45deg);
		transition: all 0.5s;
	}

	.adminBtn_link:hover::before{
		left: 100%;
	}
}

