@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Satisfy&display=swap');

:root {
	--primary: #fd7b72;
	--secondary: #4e4e4e;
	--error: #ff4a4a;
	--bgColor: #f7f1e3;
}

* {
	-webkit-tap-highlight-color: transparent;
}
/* base styles & title */
body {
	font-family: "Noto Serif";
	color: var(--secondary);
	text-decoration: none;
	background-color: var(--bgColor);
}
.App {
	max-width: 90%;
	margin: 0 auto;
}
.title h1 {
	color: var(--primary);
	font-size: 1.5rem;
	letter-spacing: 2px;
	font-weight: bold;
}
.title h2,
.title p {
	text-align: center;
}
.title h2 {
	margin-top: 60px;
	font-size: 3rem;
	margin-bottom: 50px;
}

/* upload form styles */
form {
	margin: 30px auto 10px;
	text-align: center;
}
label input {
	height: 0;
	width: 0;
	opacity: 0;
}
label {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid var(--primary);
	border-radius: 50%;
	margin: 10px auto;
	line-height: 30px;
	color: var(--primary);
	font-weight: bold;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
label:hover {
	background: var(--primary);
	color: white;
	cursor: pointer;
}
.output {
	height: 60px;
	font-size: 0.8rem;
}
.error {
	color: var(--error);
}

/* progress bar styles */
.progress-bar {
	height: 5px;
	background: var(--primary);
	margin-top: 20px;
}

/* image grid styles */
.img-grid {
	margin: 2rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}
.img-wrap {
	overflow: hidden;
	height: 0;
	padding: 40% 0;
	/* padding controls height, will always be perfectly square regardless of width */
	position: relative;
	opacity: 0.8;
	border-radius: 2rem;
}
.img-wrap img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	position: absolute;
	top: 0;
	left: 0;
}

/* modal styles */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
	display: block;
	max-width: 60%;
	max-height: 80%;
	margin: 60px auto;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
	border: 3px solid white;
}

/* back to top button */

#scroll_top a {
	position: fixed;
	bottom: 2rem;
	right: 1rem;
	z-index: 1;
	background-color: var(--primary);
	padding: 0.7rem 0.7rem;
	border-radius: 2rem;
	color: #fff;
	font-size: 3rem;
}

#scroll_top a.isActive {
	background-color: transparent;
	color: var(--primary);
	border: .2rem solid var(--primary);
}

@media (max-width: 700px) {
	.backdrop img {
		display: block;
		max-width: 90%;
		max-height: 80%;
		margin: 10rem auto;
		box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
		border: 3px solid white;
	}

	.img-grid {
		margin: 2rem auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px;
		border-radius: 2rem;
	}
}
