@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #f7f1e3;
    --primary: #fd7b72;
    --secondary: #4e4e4e;
    --fontSize: 1.5rem;
    --beforeBtnColor: #fff;


}

body {
    font-family: "Noto Serif";
    background-color: var(--bgColor);
}

.mobel_container {
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    /* mobile 80 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__ {
    width: 60%;
    height: 80vh;
    margin: 0rem auto;
    margin-bottom: 5rem;
    /* mobiel 10rem */
    position: relative;
    /* background-color: red; */
}

.borderanimation {
    width: 30%;
    height: .3rem;
    background-color: var(--primary);
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.borderanimation::after {
    content: "";
    width: 1rem;
    border-bottom: .5rem solid #fff;
    position: absolute;
    bottom: 0;
    left: 40%;
    animation: moveright 0.7s linear infinite;

}

@keyframes moveright {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

label.__formLabel {
    font-size: 1.2rem;
    display: block;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: none;
    margin: 0 0;
    line-height: 30px;
    color: var(--secondary) !important;
    display: flex;
    justify-content: flex-start !important;
}

label.__formLabel {
    background-color: transparent;
    cursor: default;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: .7rem .7rem;
    font-size: 1.2rem;
    border: .1rem solid #ccc;
    outline: none;
    margin: 1rem 0 1rem 0;
    border-radius: 1rem;
}

.modal__ .model_content {
    margin-top: 3rem;
    min-width: 30rem;
    width: 20rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__ .model_content h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

button.loginBtn {
    width: 100%;
    padding: 0.7rem 0rem;
    margin: 3rem 0rem;
    color: #fff;
    background-color: var(--primary);
    border: none;
    font-size: var(--fontSize);
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    outline: none;

}

button.loginBtn::before {
    content: "";
    width: 100%;
    height: 3rem;
    background-color: var(--beforeBtnColor);
    position: absolute;
    left: -100%;
    transform: rotate(45deg);
    transition: all .5s linear;

}

button.loginBtn:hover::before {
    left: 100%;
}

button.loginBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.animateModal {
    animation: animateModal 0.5s;
}

@keyframes animateModal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


@media screen and (max-width: 532px) {
    .mobel_container {
        /* background-color: green; */
        width: 100%;
        height: 80vh;
        /* mobile 80 */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal__ {
        width: 100%;
        height: 100vh;
        margin: 0rem auto;
        margin-bottom: 1rem;
        /* mobiel 10rem */
        position: relative;
        /* background-color: red; */
    }

    .modal__ {
        /* width: 100%; */
        /* margin-top: 10rem; */
    }

    .modal__ .model_content {
        margin-top: 0rem;
        min-width: 45%;
    }
}